.cart-list{
    height:100vh;
    padding-bottom: 100px;
    .list{
        background-color: rgb(255, 255, 255);
        padding: 20px;


        width: 50%;
        height: 100%;
        margin: auto;
       
        display: flex;
        flex-direction: column;
        gap: 20px;

        align-items: center;
       


       > img{
            width: 50%;
            margin-right: 20%;
        }

        .card-cart{
            display: flex;
            justify-content: flex-start;
 
            flex-direction: row;
            gap: 15px;
            cursor: default;
            width: 90%;
            height: 100px;
            animation: none;
            box-shadow: none;

            border: none;
            filter: drop-shadow(0 10px 10px rgba(242, 126, 18, 0.254));



           > img {
                width: 150px;
                height: 100px;
            }
            .request-description-card{
                width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            button{
                position: absolute;
                right: 0;
                height: 100%;
                width: 20%;
            }
        }
    }
}